html{

}

body{
    width: 300px;
    height: 300px;
}

.url-list{
    width: 90%;
    height: 20%;
    overflow-y: scroll;
    overflow-x: auto;
}

#contents_div{
    width: 100%;
    align-content: center;
}

.font-background{
    margin-top: 10px;
    padding-bottom: 10px;
    background: white;
    border: dashed black 4px;
    text-align: center;
}

.shark-icon{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0px auto;
}

.public-button{
    border: 1px black solid;
    font-weight: bold;
    font-size: 12px;
    background-color: white;
}

.public-button:hover{
    cursor:pointer;
    background-color: black;
    color:white
}

.marginTop_8px{
    margin-top: 8px;
}

.toggleSwitch {
    width: 6rem;
    height: 3rem;
    display: block;
    position: relative;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 0 1rem 3px rgba(0 0 0 / 15%);
    cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
    /* 버튼은 토글보다 작아야함  */
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    left: .2rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #000000;
}

/* 체크박스가 체크될 시 변경되는 요소 */
#toggle:checked ~ .toggleSwitch {
    background: #000000;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
    /* 100% -> 끝위치, 2.8rem -> 버튼 크기 */
    left: calc(100% - 2.8rem);
    background: #fff;
}

.toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
}

/* checked 부분을 active란 클래스가 포함되어있는지 여부로 바꾸기 */
.toggleSwitch.active {
    background: #000000;
}

.toggleSwitch.active .toggleButton {
    left: calc(100% - 2.8rem);
    background: #fff;
}