html{

}

body{
    width: 300px;
    height: 300px;
}

.url-list{
    width: 90%;
    height: 20%;
    overflow-y: scroll;
    overflow-x: auto;
}

#contents_div{
    width: 100%;
    align-content: center;
}

.font-background{
    margin-top: 10px;
    padding-bottom: 10px;
    background: white;
    border: dashed black 4px;
    text-align: center;
}

.shark-icon{
    height: 80px;
    width: 80px;
    display: block;
    margin: 0px auto;
}

.public-button{
    border: 1px black solid;
    font-weight: bold;
    font-size: 12px;
    background-color: white;
}

.public-button:hover{
    cursor:pointer;
    background-color: black;
    color:white
}

.marginTop_8px{
    margin-top: 8px;
}

